<h1>EDIT <%= @contact.first_name %> <%= @contact.last_name %></h1>

<%= form_tag "/contacts/#{@contact.id}", method: :patch do %>

  <div>
    First Name: <input type="text" name="first_name" value="<%= @contact.first_name %>"><br>
    Middle Name: <input type="text" name="middle_name" value="<%= @contact.middle_name %>"><br>
    Last Name: <input type="text" name="last_name" value="<%= @contact.last_name %>"><br>
    Email: <input type="text" name="email" value="<%= @contact.email %>"><br>
    Phone Number: <input type="text" name="phone_number" value="<%= @contact.phone_number %>"><br>
    Address: <input type="text" name="address"><br>
    Bio: <input type="text" name="bio" value="<%= @contact.middle_name %>"><br>
  </div>
  <input type="submit" value="SAVE CHANGES">

<% end %>