<h1><%= @contact.full_name %></h1>

Email:<p><%= @contact.email %></p>

Phone Number:<p><%= @contact.japan_phone_number %></p>

Contact updated at <%= @contact.friendly_updated_at %>
<br>
<br>
<a class="btn btn-outline-primary" href="/contacts/<%= @contact.id %>/edit">EDIT</a>

<%= form_tag "/contacts/#{@contact.id}", method: :delete do %>
  <input type="submit" class="btn btn-outline-danger" value="DELETE CONTACT">
<% end %>

<a class="btn btn-outline-primary" href="/contacts">BACK TO ALL CONTACTS</a>